{% extends 'master' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-4 push-sm-4">

			<h2 class="mb-2">Register</h2>


			{% if old('errors') %}
				{% for error in old('errors') %} 
					<div class="alert alert-danger mb-2" role="alert">
					  <small><strong>Yikes!</strong> {{ error.message }}</small>
					</div>
				{% endfor %}
			{% endif %}
			

			<form class="mb-2" method="POST" action="/register">
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" name="email" class="form-control" id="email" value="{{ old('email') }}" placeholder="Enter email">
			  </div>
			  <div class="form-group">
					<label for="password">Password</label>
			    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
			  </div>
			  {{ csrfField }}
			  <button type="submit" class="btn btn-primary">Sign Up</button>
			</form>

			<small>
				Have an account? <a href="/login">Login here</a>
			</small>

    </div>
  </div>
</div>

{% endblock %}