{% extends 'layouts.site' %}

{% block content %}

  <section class="container">
	<ul class="filters">
		<li><button class="active btn" data-group="all">All</button></li>
		<li><button class="btn" data-group="en">English</button></li>
		<li><button class="btn" data-group="hi">Hindi</button></li>
		<li><button class="btn" data-group="gu">Gujrati</button></li>
	</ul>
    <ul class="signages-list" id="grid">
      <li>
        <article class="listing eng" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Do not spit here.png" alt="Do not spit here" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not spit here</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Do not spit here.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing hin" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Beware of dog.png" alt="Beware of dog" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Beware of dog</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Beware of dog.pdf">Download</a>
          </figcaption>
        </article>
        </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Lift maintenance.png" alt="Lift maintenance" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Lift Maintenance</h1>
            <h2 class="listing-desc">Scheduled & unscheduled lift maintenance notices</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Lift maintenance.pdf">Download</a>
          </figcaption>
        </article>
        </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Do not throw garbage.png" alt="Do not throw garbage" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not throw grabage here</h1>
            <h2 class="listing-desc">For places in your area where people make their own dumping ground</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Do not throw garbage.pdf">Download</a>
          </figcaption>
        </article>
        </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/No Parking.png" alt="No Parking" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">No Parking</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/No Parking.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Save water.png" alt="Save water" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Save water</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Save water.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Switch off.png" alt="Switch off" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Switch off</h1>
            <h2 class="listing-desc">Meeting rooms, conference rooms, wedding halls & trains</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Switch off.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/To let.png" alt="To let" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">To let</h1>
            <h2 class="listing-desc">For those who wish to put their houses on rent</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/To let.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="en">
          <figure class="listing-image">
            <img src="/source-files/English/Waste.png" alt="Waste" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Waste</h1>
            <h2 class="listing-desc">Places where garbage is collected</h2>
            <a class="listing-download" target="_blank" href="/source-files/English/Waste.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <!-- Hindi -->
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Do not spit here.png" alt="Do not spit here" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not spit here</h1>
            <h2 class="listing-desc">Elevators, public toilets and whereever you see people spitting</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Do not spit here.pdf">Download</a>
          </figcaption>
        </article>
        </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Beware of dog.png" alt="Beware of dog" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Beware of dog</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Beware of dog.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Lift maintenance.png" alt="Lift maintenance" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Lift Maintenance</h1>
            <h2 class="listing-desc">Scheduled & unscheduled lift maintenance notices</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Lift maintenance.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Do not throw garbage.png" alt="Do not throw garbage" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not throw grabage here</h1>
            <h2 class="listing-desc">For places in your area where people make their own dumping ground</h2>
            <a href="#" class="listing-download">Download</a>
            <!-- <a class="listing-download" target="_blank" href="/source-files/Hindi/Do not throw garbage.pdf">Download</a> -->
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/No Parking.png" alt="No Parking" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">No Parking</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/No Parking.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Save water.png" alt="Save water" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Save water</h1>
            <h2 class="listing-desc">Whereever you can water getting wasted in public places</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Save water.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Switch off.png" alt="Switch off" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Switch off</h1>
            <h2 class="listing-desc">Meeting rooms, conference halls & wedding halls</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Switch off.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/To let.png" alt="To let" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">To let</h1>
            <h2 class="listing-desc">When you want to put your place on rent</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/To let.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="hi">
          <figure class="listing-image">
            <img src="/source-files/Hindi/Waste.png" alt="Waste" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Waste</h1>
            <h2 class="listing-desc">Grabage collection places</h2>
            <a class="listing-download" target="_blank" href="/source-files/Hindi/Waste.pdf">Download</a>
          </figcaption>
        </article>
      </li>

      <!-- Gujarati -->
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Do not spit here.png" alt="Do not spit here" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not spit here</h1>
            <h2 class="listing-desc">Elevators, public toilets and whereever you see people spitting</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Do not spit here.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Beware of dog.png" alt="Beware of dog" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Beware of dog</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Beware of dog.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Lift maintenance.png" alt="Lift maintenance" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Lift Maintenance</h1>
            <h2 class="listing-desc">Scheduled & unscheduled lift maintenance notices</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Lift maintenance.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Do not throw garbage.png" alt="Do not throw garbage" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Do not throw grabage here</h1>
            <h2 class="listing-desc">For places in your area where people make their own dumping ground</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Do not throw garbage.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/No Parking.png" alt="No Parking" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">No Parking</h1>
            <h2 class="listing-desc">For your gates, compound walls & shops</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/No Parking.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Save water.png" alt="Save water" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Save water</h1>
            <h2 class="listing-desc">Whereever you can water getting wasted in public places</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Save water.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Switch off.png" alt="Switch off" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Switch off</h1>
            <h2 class="listing-desc">Meeting rooms, conference halls & wedding halls</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Switch off.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/To let.png" alt="To let" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">To let</h1>
            <h2 class="listing-desc">When you want to put your place on rent</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/To let.pdf">Download</a>
          </figcaption>
        </article>
        </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/Waste.png" alt="Waste" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">Waste</h1>
            <h2 class="listing-desc">Grabage collection places</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/Waste.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/No smoking.png" alt="Waste" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">No smoking</h1>
            <h2 class="listing-desc">Smoking prohibited areas</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/No smoking.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>
        <article class="listing" data-lang="gu">
          <figure class="listing-image">
            <img src="/source-files/Gujarati/No photography.png" alt="Waste" />
          </figure>
          <figcaption class="listing-details">
            <h1 class="listing-title">No photography</h1>
            <h2 class="listing-desc">Photography prohibited areas</h2>
            <a class="listing-download" target="_blank" href="/source-files/Gujarati/No photography.pdf">Download</a>
          </figcaption>
        </article>
      </li>
      <li>

      </li>
    </ul>
  </section>

{% endblock %}
