<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signages.co</title>
</head>
<body>

<h1>Signages</h1>

<ul>
	<li>
		<a href="/login">
			Login
		</a>
	</li>
</ul>
	
</body>
</html>
