  <header class="page-header">
      <h1 class="fira pull-left m-t-0 m-b-0">
        <a href="/">Signages</a>
        <small class="fira">For a delightful neighbourhood</small>
      </h1>

      <a href="#makersModal" class="pull-right" id="makersModalTrigger">
        <svg>
          <use xlink:href="#info" />
        </svg>
      </a>

      <a href="/request" class="header-link pull-right">
				Request
      </a>

      <a href="/submit" class="header-link pull-right">
				Submit
      </a>

      <a href="/backdoor" class="header-link pull-right">
				Backdoor
      </a>
  </header>