.page-header {
  background-color: $primary-color;
  padding: 2em;
  overflow: hidden;

  small {
    display: block;
    font-size: .8rem;
    font-weight: normal;
    margin-top: .2em;
  }

  svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1em;
    margin-left: .5em;
    opacity: .5;
    transition: opacity .3s ease-in;
  }

  svg:hover{
    opacity: 1;
  }
}

.filters {
	list-style-type: none;
	text-align: center;
	padding: 0;
	@media screen and (min-width: 768px) {
		padding: 0.5em 0;
	}
	li {
		display: inline-block;
		margin-right: 0.5em;
		&:last-child { margin-right: 0; }
		
		button {
			border: 1px solid rgba($link-color, 0.2);
			background-color: transparent;
			border-radius: 999em;
			padding: 0.25em 0.75em;
			line-height: 1;
			transition: background 0.25s ease;
			color: $link-color;
			@media screen and (min-width: 1280px) {
				padding: 0.5em 1.25em;
			}
			&:hover {
				cursor: pointer;
				background-color: rgba($link-color, 0.1);
			}
			&:focus {
				outline: none;
			}
			&.active {
				background-color: rgba($link-color, 0.1);
			}
		}
	}
}
