<nav class="navbar navbar-light bg-yellow mb-3">

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				  <a class="navbar-brand" href="/"><strong>Signages.co</strong></a>

				  <ul class="nav navbar-nav float-xs-left">
<!-- 				    <li class="nav-item">
				      <a class="nav-link" href="/backdoor">Dashboard</a>
				    </li> -->
				    <li class="nav-item">
				      <a class="nav-link" href="/backdoor/signages">Sinages</a>
				    </li>
				  </ul>

				  <ul class="nav navbar-nav float-xs-right">
				    <li class="nav-item">
							{% if currentUser %}
							  <a class="nav-link" href="/logout">Logout</a>
							{% else %}
							  <a class="nav-link" href="/login">Login</a>
							{% endif %}
				    </li>
				  </ul>

			</div>
		</div>
	</div>

</nav>