/*
 * Signages.co CSS
 * From the makers of Cleartrip
 * Feel free to copy ;)
 */

html {
  font-family: -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}

.fira{
 font-family: 'Fira Sans', sans-serif;
}

.m-t-0{
  margin-top: 0;
}

.m-r-0{
  margin-right: 0;
}

.m-b-0{
  margin-bottom: 0;
}

.m-l-0{
  margin-left: 0;
}

.page-header{
padding: 2em;
background-color: #ffcb06;
}

.signages-list{
  list-style: none;
}
